@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App {
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: linear-gradient(#2E6128, #E4FAE1) no-repeat fixed;
  height: 100%;
}

.TextField.select { /* Increase the specificity */
  color: red;
}